<!DOCTYPE html>
<html>
  <head>
  <title>TripDay - Professional Stay Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="bg-gray-50">
    <div id="app"></div>
  </body>
</html>
